<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- CRITICAL: YOU NEED THIS FOR FIREBASE TO TALK TO THE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="LUMS EventHub"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 1. LOGIN SCREEN (The first screen that opens) -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. ADMIN MODULE SCREENS -->
        <activity android:name=".admin.dashboard.AdminDashboardActivity" />
        <activity android:name=".admin.proposals.ProposalListActivity" />
        <activity android:name=".admin.proposals.ProposalDetailActivity" />
        <activity android:name=".admin.organizer.RegisterOrganizerActivity" />

        <!-- 3. ORGANIZER MODULE -->
        <activity android:name=".organizer.OrganizerDashboardActivity" />


        <!-- 4. ADMIN FEATURE ACTIVITIES -->
        <activity android:name=".admin.auditorium.AuditoriumActivity" />
        <activity android:name=".admin.calendar.CalendarActivity" />
        <activity android:name=".admin.accommodation.AccommodationActivity" />



    </application>

</manifest>